.option.icon-file {
  background-image: url("./upload.svg");
  background-size: 32px;
}

.sqs-form-builder-field.icon-file
  .sqs-form-builder-field-content
  .field-type-icon {
  background-image: url("./upload.svg");
}

.form-wrapper .field-list .field .field-element.field-validation-error {
  border: 1px solid red;
}

.field-validation-error-message::after {
  content: attr(data-error-message);
  color: #e30000;
}

.new-form-upload-label {
  margin: 8px 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #313131;
  position: relative;
  display: block;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.new-form-upload-label:after {
  content: "";
  border-top-width: 2px;
  width: 59.45px;
  border-top-style: solid;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform-origin: left;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06);
  transform: scaleX(0);
}

.new-form-upload-label:hover:after {
  transition-timing-function: cubic-bezier(0.32, 0.94, 0.6, 1);
  transform: scaleX(1);
}

.new-form-upload-label.is-active:after {
  transition-timing-function: cubic-bezier(0.32, 0.94, 0.6, 1);
  transform: scaleX(1);
}
